numpy
scipy
scikit-image
matplotlib
pydicom
dicompyler-core
pandas
seaborn
plotly
jinja2
pytest
sphinx
recommonmark
sphinx_markdown_tables
sphinx_rtd_theme
coverage
interrogate
sphinxcontrib.mermaid
coverage-badge
build
myst_parser
twine
sphinxemoji